profiles {
    // standard profile used by nextflow, and
    // can be overwritten
    standard {
        docker {
            enabled = true
            runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
        }
    }

    // to use singularity instead of docker
    singularity {
        singularity {
            enabled = true
            autoMounts = true
        }
    }
}

timeline {
  enabled = true
  file = "${params.output_dir}/execution/timeline.html"
  overwrite = true
}
report {
  enabled = true
  file = "${params.output_dir}/execution/ont_methyl_analysis.html"
  overwrite = true
}
trace {
  enabled = true
  file = "${params.output_dir}/execution/trace.txt"
  overwrite = true
}

process {
    withLabel:ont_methyl_analysis {
        container = { "docker://nyagam/ont-methyl-kit:v0.3.0" }
    }
    withLabel:modbamtools {
        container = { "docker://nyagam/modbamtools-v0.4.8:latest" }
    }
    withLabel:methylartist {
        container = { "docker://nyagam/methylartist:v1.5.0" }
    }
    withLabel:dmr_report {
        container = { "docker://nyagam/seaborn:latest" }
    }
}