/*
========================================================================================
    Pipeline Manifest
========================================================================================
    Defines descriptive parameters about the pipeline.
----------------------------------------------------------------------------------------
*/

manifest {
    name = 'ont-methyl-analysis'
    author = 'Denis Nyaga'
    homePage = 'https://github.com/NyagaM/ont-methylDMR-kit'
    description = 'A Nextflow pipeline for methylation analysis using long-read sequencing data'
    mainScript = 'main.nf'
    nextflowVersion = '>=24.10.1'
    version = '3.2'
}

/*
========================================================================================
    Execution Profiles
========================================================================================
    Defines where and how the pipeline should be executed.
----------------------------------------------------------------------------------------
*/

profiles {
    // Base profile for local execution with Docker
    docker {
        docker.enabled = true
        docker.runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
        // Pull containers on pipeline execution, not per-task
        docker.pullTimeout = '20 min'
    }

    // Profile for local execution with Singularity
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.pullTimeout = '20 min'
    }

    // Example profile for a SLURM cluster
    // Can be used with -profile cluster,docker or -profile cluster,singularity
    cluster {
        process.executor = 'slurm'
        process.queue = 'your_queue' // Please specify a valid queue
        process.clusterOptions = { "--account ${params.slurm_account ?: 'your_account'}" }
    }

    // Profile for running tests
    test {
        includeConfig 'conf/test.config'
    }
}

/*
========================================================================================
    Execution Reports
========================================================================================
    Defines settings for Nextflow's execution reporting.
----------------------------------------------------------------------------------------
*/

timeline {
  enabled = true
  file = "${params.output_dir}/execution/timeline.html"
  overwrite = true
}
report {
  enabled = true
  file = "${params.output_dir}/execution/report.html"
  overwrite = true
}
trace {
  enabled = true
  file = "${params.output_dir}/execution/trace.txt"
  overwrite = true
}
dag {
    enabled = true
    file = "${params.output_dir}/execution/dag.html"
    overwrite = true
}

/*
========================================================================================
    Process Configuration
========================================================================================
    Defines default process directives and container specifications.
----------------------------------------------------------------------------------------
*/

process {
    // Default process directives
    errorStrategy = { task.exitStatus in [137,140] ? 'retry' : 'finish' }
    maxRetries = 1

    // Default resources
    cpus = 2
    memory = '4.GB'
    time = '1.h'

    // Resource labels for more granular control
    withLabel:process_low {
        cpus = 2
        memory = '2.GB'
        time = '4.h'
    }
    withLabel:process_medium {
        cpus = 8
        memory = '8.GB'
        time = '4.h'
    }
    withLabel:process_high {
        cpus = 16
        memory = '24.GB'
        time = '4.h'
    }
    withName:modkit_phased_mC {
        cpus = 48       // modify to suit available resources
        memory = '16.GB'
        time = '2.h'
    }
    withName:modkit_phased_mA {
        cpus = 48       // modify to suit available resources
        memory = '16.GB'
        time = '2.h'
    }
    withName:group_dmr_calling {
        cpus = 6       // modify to suit available resources
        memory = '8.GB'
        time = '1.h'
    }
    withName:dmr_calling {
        cpus = 4       // modify to suit available resources
        memory = '8.GB'
        time = '1.h'
    }

    // Container definitions for docker and singularity
    withLabel:ont_methyl_analysis {
        container = { "nyagam/ont-methyl-kit:v0.3.0" }
    }
    withLabel:modkit {
        container = { "nyagam/modkit:v0.5.0" } 
    }
    withLabel:modbamtools {
        container = { "nyagam/modbamtools:v0.4.8" } 
    }
    withLabel:methylartist {
        container = { "nyagam/methylartist:v1.5.2" }
    }
    withLabel:dmr_report {
        container = { "nyagam/seaborn:0.13.2" }
    }
}