trace {
    enabled = true
}

docker.enabled = false

conda {
    enabled = false
}

profiles {
  standard {
    process.executor = 'local'
  }

  lsf {
    process.executor = 'lsf'
  }

  slurm {
    process.executor = 'slurm'
  }
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = '-B /mnt'
}

report {
    enabled = false
    file = 'ont_methyl_analysis.html'
}

process {
    withLabel: ont_methyl_analysis {
        container = 'docker://nyagam/ont-methyl-kit:v0.3.0'
    }
    withLabel: modbamtools {
        container = 'docker://nyagam/modbamtools-v0.4.8:latest'
    }
    withLabel: methylartist {
        container = 'docker://nyagam/methylartist:v1.5.0'
    }
}
